# PaaS
/.clever.json

# secrets
.envrc

# js/nodejs
node_modules

# rust
/target/
/api/target/
/output-worker/target/

# ide
.idea
api/.clever.json

# docker-compose
.data
config.bat
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
